%% -*- mode: erlang -*-

{erl_opts, [warnings_as_errors, warn_export_all, warn_untyped_record]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{shell, [{apps, [crdts]}]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{dialyzer, [{warnings, [error_handling,
                        race_conditions,
                        unknown,
                        unmatched_returns,
                        no_improper_lists]}]}.

{deps, []}.

{profiles, [{test, [{erl_opts, [export_all]},
                    {deps, [meck]},
                    {plugins, [covertool]}]}]}.
